:root {
  --primary: #d81e5b;
  --secondary: #8c38ff;
  --light: #eee;
  --dark: #131a26;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app {
  max-width: 100vw;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.calculator {
  border: 3px solid var(--primary);
}

.display {
}

.operators {
}

.digits {
}
