:root {
  --primary: #d81e5b;
  --secondary: #8c38ff;
  --light: #eee;
  --dark: #131a26;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--light);
}

.app {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.calculator {
  width: 100%;
  max-width: 400px;
  border-radius: 16px;
  overflow: hidden;
  box-shadow: 0 2px 64px #000;
}

.display {
  text-align: right;
  background-color: var(--dark);
  color: var(--light);
  font-size: 2.5rem;
  padding: 16px;
  font-weight: 600;
}

.display span {
  color: #888;
  font-size: 1.5rem;
}

button {
  appearance: none;
  border: none;
  outline: none;
  color: #fff;
  font-size: 2rem;
  padding: 16px;
  cursor: pointer;
  transition: 0.5s;
}

button:hover {
  opacity: 0.8;
}

.operators {
  display: flex;
}

.operators button {
  background-color: var(--primary);
  font-weight: 700;
  flex: 1 1 0%;
}

.digits {
}
