:root {
  --primary: #d81e5b;
  --light: #eee;
  --dark: #131a26;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--light);
}

.app {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px;
}

.calculator {
  width: 100%;
  max-width: 400px;
  border-radius: 16px;
  overflow: hidden;
  box-shadow: 0 2px 64px #000;
}

.display {
  text-align: right;
  background-color: var(--dark);
  color: var(--light);
  font-size: 2.5rem;
  padding: 16px;
  font-weight: 600;
}

.display span {
  color: #888;
  font-size: 1.3rem;
  margin-right: 10px;
}

button {
  appearance: none;
  border: none;
  outline: none;
  color: #fff;
  font-size: 2rem;
  padding: 16px;
  cursor: pointer;
  transition: 0.5s;
}

button:hover {
  opacity: 0.8;
}

.operators {
  display: flex;
}

.operators button {
  background-color: var(--primary);
  font-weight: 700;
  flex: 1 1 0%;
}

.operators button:hover {
  color: var(--dark);
}

.digits {
  display: flex;
  flex-wrap: wrap;
}

.digits button {
  flex: 1 1 33.333%;
  max-width: 33.333%;
  background-color: var(--dark);
}

.equals-bg-colour {
  background-color: var(--primary) !important;
}

.equals-bg-colour:hover {
  color: var(--dark) !important;
}
